In [132]:
import tabula
import pandas as pd
import re
import gender_guesser.detector as gender

### Esto genera una lista de de dataframe

In [9]:
l = tabula.read_pdf("../data/jura20191129.pdf", encoding='utf-8', pages='1-13')

In [10]:
len(l)

13

In [11]:
l[0]

,TITULO,Apellidos y nombres
0,Profesora Ens.Med.y Sup.Biología,ABALDE Lis Yazmín
1,Ldo. Cs.Computación,ABOY SOLANES Santiago
2,Ldo. Cs.Físicas,ABREVAYA Germán Ezequiel
3,Lda. Cs.Matemáticas,ACCOMAZZO SCOTTI Natalia Celeste
4,Lda. Cs.Geológicas,ACEVEDO Eliana Belén
5,Ldo. Cs.Matemáticas,ACRI Emiliano Francisco
6,Ldo. Cs.Biológicas,ADOT Francisco
7,Lda. Cs.Geológicas,AGOSTINELLI Mercedes Salomé
8,Ldo. Cs.Biológicas,AGUERREBERRY Emiliano
9,Magister UBA en Meteorología Agrícola,AGUILERA Regina Beatriz
10,Dr. UBA(Cs.Biológicas),AGUILERA SAMMARITANO Juan Alberto
11,Ldo. Cs.Biológicas,AGUIRRE Cristian Daniel
12,Dr. UBA(Cs.Físicas),ALBERTI Alejo
13,Profesora Ens.Med.y Sup.Biología,ALBIONI MONTENEGRO Gloria Eva
14,Lda. Cs.Biológicas,ALFARO Elisa Raquel
15,Ldo. Cs.Computación,ALFONSO Mauricio
16,Analista Universitaria de Computación,ALFONSO Mauricio
17,Lda. Cs.Biológicas,ALLEN DOHLE Sharon Ingrid
18,Dr. UBA(Cs.Físicas),ALLEN Pablo Guillermo
19,Ldo. Cs.Biológicas,ALONSO Ignacio
20,Esp. en Exp.de Datos y Desc.de Conocimiento,ALONSO Mónica Liliana
21,Dr. UBA(Cs.Físicas),ALONSO Rodrigo
22,Ldo. Cs.Computación,ALVAREZ Matias Exequiel
23,Lda. Cs.Físicas,ALVAREZ MERCÉ Rocío
24,Lda. Cs.Biológicas,AMAR Agustina
25,Lda. Cs.Biológicas,AMENEIRO Leila Soledad
26,Ldo. Cs.Químicas,AMREIN Fernando
27,Dra. UBA(Química Biológica),ANDINO PAVLOVSKY Victoria
28,Ldo. Cs.Químicas,ANTON Matias
29,Dr. UBA(Química Biológica),APTEKMANN Ariel Alejandro
30,Dr. UBA(Química Biológica),ARCÓN Juan Pablo
31,Lda. Cs.Computación,ARROYO Virginia Inés
32,Esp. en Exp.de Datos y Desc.de Conocimiento,ARRUTI Juan Pablo
33,Magister UBA en Exp.de Datos y Desc.de Conocim...,AVALOS SERRANO Veronica Nathali
34,Lda. Cs.Biológicas,AYRE Marina
35,Bachiller Universitario Cs.Atmósfera,BACIGALUPPI Marco
36,Dr. UBA(Cs.Atmósfera y los Océanos),BACINO Guido Luis
37,Ldo. Cs.Físicas,BADIA Javier
38,Dra. UBA(Cs.Biológicas),BALAZOTE OLIVER Agustina
39,Magister UBA en Exp.de Datos y Desc.de Conocim...,BANCHERO Santiago
40,Dr. UBA(Cs.Físicas),BARABAS Federico Martin
41,Dr. UBA(Cs.Químicas),BARALDO VICTORICA Luis Mario
42,Ldo. Cs.Físicas,BARLARI Martín
43,Dra. UBA(Cs.Matemáticas),BARONCINI Carla Antonella
44,Dr. UBA(Química Orgánica),BARRADAS José Sebastián
45,Ldo. Cs.Físicas,BARRERA LEMARCHAND Federico Ulises
46,Dr. UBA(Química Biológica),BARRIONUEVO Matías Raúl
47,Ldo. Cs.Biológicas,BATTINI Leandro
48,Analista Universitario de Computación,BAYARDO SPADAFORA Julian
49,Magister UBA en Exp.de Datos y Desc.de Conocim...,BAYLE Federico
50,Esp. en Exp.de Datos y Desc.de Conocimiento,BAYLE Federico
51,Dr. UBA(Cs.Biológicas),BECERRA Marcos Gabriel
52,Ldo. Cs.Biológicas,BELDORATI German Gabriel

## Creo un df general con todos los datos

In [59]:
df = pd.DataFrame(columns=['TITULO', 'Apellidos y nombres'])

In [60]:
df = pd.concat(l)

In [61]:
df.head()

                             TITULO               Apellidos y nombres
0  Profesora Ens.Med.y Sup.Biología                 ABALDE Lis Yazmín
1               Ldo. Cs.Computación             ABOY SOLANES Santiago
2                   Ldo. Cs.Físicas          ABREVAYA Germán Ezequiel
3               Lda. Cs.Matemáticas  ACCOMAZZO SCOTTI Natalia Celeste
4                Lda. Cs.Geológicas              ACEVEDO Eliana Belén

In [62]:
len(df)

667

## Agrego las carreras

In [128]:
titulo_unico = sorted(df['TITULO'].drop_duplicates().values.tolist())
titulo_unico

['Analista Universitaria de Computación',
 'Analista Universitario de Computación',
 'Asistente de Investigación en Física',
 'Bachiller Universitaria Cs.Atmósfera',
 'Bachiller Universitario Cs.Atmósfera',
 'Dr. UBA(Cs.Atmósfera y los Océanos)',
 'Dr. UBA(Cs.Biológicas)',
 'Dr. UBA(Cs.Computación)',
 'Dr. UBA(Cs.Físicas)',
 'Dr. UBA(Cs.Geológicas)',
 'Dr. UBA(Cs.Matemáticas)',
 'Dr. UBA(Cs.Químicas)',
 'Dr. UBA(Inst.de Inv.Bioquímicas)',
 'Dr. UBA(Qca.Inorgánica,Qca.Analítica y Qca.Física)',
 'Dr. UBA(Química Biológica)',
 'Dr. UBA(Química Industrial)',
 'Dr. UBA(Química Orgánica)',
 'Dra. UBA(Cs.Atmósfera y los Océanos)',
 'Dra. UBA(Cs.Biológicas)',
 'Dra. UBA(Cs.Físicas)',
 'Dra. UBA(Cs.Geológicas)',
 'Dra. UBA(Cs.Matemáticas)',
 'Dra. UBA(Inst.de Inv.Bioquímicas)',
 'Dra. UBA(Qca.Inorgánica,Qca.Analítica y Qca.Física)',
 'Dra. UBA(Química Biológica)',
 'Dra. UBA(Química Industrial)',
 'Dra. UBA(Química Orgánica)',
 'Esp. en Biotecnología Industrial',
 'Esp. en Bromatología y Tecnología de Alimentos',
 'Esp. en Comunicación Pública de la Ciencia y la Tecnología',
 'Esp. en Conservación de la Biodiversidad',
 'Esp. en Estadística',
 'Esp. en Estadística para Cs. de la Salud',
 'Esp. en Exp.de Datos y Desc.de Conocimiento',
 'Esp. en Higiene y Seguridad en el Trabajo',
 'Esp. en Química y Ambiente',
 'Esp. en Seguridad e Higiene Ámbito Laboral',
 'Esp. en estadística para Cs. De la Salud',
 'Lda. Ciencia y Tecnología de Alimentos',
 'Lda. Cs.Atmósfera',
 'Lda. Cs.Biológicas',
 'Lda. Cs.Computación',
 'Lda. Cs.Físicas',
 'Lda. Cs.Geológicas',
 'Lda. Cs.Matemáticas',
 'Lda. Cs.Químicas',
 'Ldo. Ciencia y Tecnología de Alimentos',
 'Ldo. Cs.Atmósfera',
 'Ldo. Cs.Biológicas',
 'Ldo. Cs.Computación',
 'Ldo. Cs.Físicas',
 'Ldo. Cs.Geológicas',
 'Ldo. Cs.Matemáticas',
 'Ldo. Cs.Matemáticas (CORREGIDO)',
 'Ldo. Cs.Químicas',
 'Ldo. Paleontología',
 'Magister UBA en Bromatología y Tecnología de la\rIndustrialización de los Alimentos',
 'Magister UBA en Ciencias Ambientales',
 'Magister UBA en Exp.de Datos y Desc.de Conocimiento',
 'Magister UBA en Física Médica',
 'Magister UBA en Meteorología Agrícola',
 'Profesor Ens.Med.y Sup.Biología',
 'Profesor Ens.Med.y Sup.Física',
 'Profesor Ens.Med.y Sup.Matemática',
 'Profesor Ens.Med.y Sup.Química',
 'Profesora ENS.Med.y Sup.Biología',
 'Profesora Ens.Med.y Sup.Biología',
 'Profesora Ens.Med.y Sup.Física',
 'Profesora Ens.Med.y Sup.Química',
 'Profesora ens.Med.y Sup.biología',
 'Técnico en Meteorología Sinóptica']

In [105]:
find_titulo = sorted(list(set([re.findall(r"([^\s]+)",i)[0] for i in titulo_unico])))
find_titulo

['Analista',
 'Asistente',
 'Bachiller',
 'Dr.',
 'Dra.',
 'Esp.',
 'Lda.',
 'Ldo.',
 'Magister',
 'Profesor',
 'Profesora',
 'Técnico']

In [121]:
dic_replace = {
    'Analista' : 'Analisis',
    'Asistente' : 'Asistencia',
    'Bachiller' : 'Bachillerato',
    'Dr.' : 'Doctorado',
    'Dra.' : 'Doctorado',    
    'Esp.' : 'Especialista',
    'Ldo.' : 'Licenciatura en',    
    'Lda.' : 'Licenciatura en', 
    'Magister' : 'Magisterio',
    'Profesor' : 'Profesorado en',
    'Profesora' : 'Profesorado en',  
    'Técnico': 'Tecnicatura'
}

In [126]:
df['carrera'] = df.TITULO.apply(lambda x: x.replace(re.findall(r"([^\s]+)",x)[0], dic_replace[re.findall(r"([^\s]+)",x)[0]]))

In [127]:
df

,TITULO,Apellidos y nombres,carrera
0,Profesora Ens.Med.y Sup.Biología,ABALDE Lis Yazmín,Profesorado en Ens.Med.y Sup.Biología
1,Ldo. Cs.Computación,ABOY SOLANES Santiago,Licenciatura en Cs.Computación
2,Ldo. Cs.Físicas,ABREVAYA Germán Ezequiel,Licenciatura en Cs.Físicas
3,Lda. Cs.Matemáticas,ACCOMAZZO SCOTTI Natalia Celeste,Licenciatura en Cs.Matemáticas
4,Lda. Cs.Geológicas,ACEVEDO Eliana Belén,Licenciatura en Cs.Geológicas
...,...,...,...
30,Bachiller Universitario Cs.Atmósfera,ZEITUNE Martin Ezequiel,Bachillerato Universitario Cs.Atmósfera
31,Ldo. Cs.Matemáticas,ZUCCOTTI Juan Rodrigo,Licenciatura en Cs.Matemáticas
32,Lda. Cs.Químicas,ZUPAN Ana Luz,Licenciatura en Cs.Químicas
33,Ldo. Cs.Computación,ZYLBER Ariel Ricardo,Licenciatura en Cs.Computación
34,Dra. UBA(Inst.de Inv.Bioquímicas),ZYLBERMAN Vanesa,Doctorado UBA(Inst.de Inv.Bioquímicas)

## Genderizo

In [135]:
name =  'ACCOMAZZO SCOTTI Natalia Celeste'

In [140]:
n = name.split()
n

['ACCOMAZZO', 'SCOTTI', 'Natalia', 'Celeste']

In [215]:
[word for word in n if not word.islower() and not word.isupper()]

['Natalia', 'Celeste']

In [159]:
re.findall(r"([A-Z][^A-Z][^\s]+)",)[1]

NameError: name 'x' is not defined

In [212]:
[Ariel, Ricardo][0]

NameError: name 'Ariel' is not defined

In [217]:
df["Apellidos y nombres"].apply(lambda x: [word for word in x.split() if not word.islower() and not word.isupper()])

0          [Lis, Yazmín]
1             [Santiago]
2     [Germán, Ezequiel]
3     [Natalia, Celeste]
4        [Eliana, Belén]
             ...
30    [Martin, Ezequiel]
31       [Juan, Rodrigo]
32            [Ana, Luz]
33      [Ariel, Ricardo]
34              [Vanesa]
Name: Apellidos y nombres, Length: 667, dtype: object

In [199]:
df['name'] = df["Apellidos y nombres"].apply(lambda x: re.findall(r"([A-Z][^A-Z Ñ]+)",x))

In [201]:
df.head()

,TITULO,Apellidos y nombres,carrera,name
0,Profesora Ens.Med.y Sup.Biología,ABALDE Lis Yazmín,Profesorado en Ens.Med.y Sup.Biología,"[Lis, Yazmín]"
1,Ldo. Cs.Computación,ABOY SOLANES Santiago,Licenciatura en Cs.Computación,[Santiago]
2,Ldo. Cs.Físicas,ABREVAYA Germán Ezequiel,Licenciatura en Cs.Físicas,"[Germán, Ezequiel]"
3,Lda. Cs.Matemáticas,ACCOMAZZO SCOTTI Natalia Celeste,Licenciatura en Cs.Matemáticas,"[Natalia, Celeste]"
4,Lda. Cs.Geológicas,ACEVEDO Eliana Belén,Licenciatura en Cs.Geológicas,"[Eliana, Belén]"

In [193]:
df['name'].head(100)

0               [Lis, Yazmín]
1                  [Santiago]
2          [Germán, Ezequiel]
3          [Natalia, Celeste]
4             [Eliana, Belén]
               ...
42          [Nicolas, Nahuel]
43            [Ingrid, Paola]
44    [Carolina, Maria, Rosa]
45               [María, Ana]
46           [Pablo, Ignacio]
Name: name, Length: 100, dtype: object

In [155]:
re.findall(r"([A-Z][^A-Z][^\s]+)",name)

['O SCOTTI', 'Natalia', 'Celeste']

In [200]:
new = df["Apellidos y nombres"].str.split(" ", expand = True)

In [ ]:
[i for i in n if i[] ]

In [138]:
re.match(r"([^A-Z])",name)

In [ ]:
df['firt_name'] =

In [133]:
d = gender.Detector(case_sensitive=False)

In [134]:
d.get_gender(u"Bob")

'male'